.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
  


  .card_headline {
    width: 30%;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }


  .card_text {
    width: 50%;
    height: .8rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
  }

  
  .card_body {
    margin: 32px 0px;
    width: 100%;
    height: 350px;
    border-radius: 2rem;
  }
  

  .card_footer {
    width: 100%;
    height: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;

  }